<div class="app-person-profile-container">
	<div class="app-person-profile" docs-highlight docs-blue data-intro="Person Profile" data-position="bottom">
		<div class="app-person-profile-header">
			<div href="#" class="app-person-profile-photo" data-trigger="hover" data-toggle="popover" title="Bio" data-content={{desc}} data-placement="right" style="backgrond-image: url({{picture}})">
			</div>
			<h2>{{name}}</h2>
			<div class="app-person-profile-department">
				{{dept}}
			</div>
			<div class="app-person-profile-phone-number">919-555-5555</div>
			<div class="app-person-profile-email"><a href="{{emailUrl}}">{{email}}</a></div>
		</div>
		<div class="app-section">
			<div class="app-section-header">
				<h3>Education</h3>
			</div>
			<div class="app-section-body">
				<div class="app-history-item">
					<div class="app-history-item-dates-edu">
						{{education.startYear}}-{{education.endYear}}
					</div>
					<div class="app-history-item-body">
						<div class="app-history-item-title-edu">
							{{education.institution}}
						</div>
						<div class="app-history-item-degree">
							{{education.degree}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-section">
			<div class="app-section-header">
				<h3>Experience</h3>
			</div>
			<div class="app-section-body">
				<div class="app-history-item">
					<div class="app-history-item-dates-work">
						{{workExperience.startYear}}-Present
					</div>
				</div>
				<div class="app-history-item-body">
					<div class="app-history-item-title-work">
						{{workExperience.institution}}
					</div>
					<div class="app-history-item-position">
						{{workExperience.title}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>